body {
	background-color: #fffbd6; 
	padding: 0;
	border: 0;
	margin: 0;
}

// Top Menu

.topMenu {
	background-color: #fffbd6;
}

#topMenuBorder {
	width: 100%;
	height: 20%;	
	margin: 0;
	padding: 0;
	background-color: #1f262c;
	display: inline-block;
	vertical-align:middle;
}

#caracterIcon {
	width: 5%;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 2%;
	vertical-align:middle;
}

#caracterIcon img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

#userName {
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
	-moz-user-select: none;
}

#scoreWrapper{
	float:right;
	margin-right: 2%;
}

#score {
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: inline-block;
	-moz-user-select: none;
}

#scoreIcon {
	width:auto;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#scoreIcon img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #FFFFFF;
}

#scoreIcon i {
	color: #FFFFFF;
}


//SecondBar Menu
#middleMenuContainer {
	width: 100%;
	height: 20%;	
	background-color: #22b573;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#middleButtonLeft {
	height: 20%;
	width: 49.9%;
	background-color: #22b573;
	color: #FFFFFF;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align:center;
	float:left;
	-moz-user-select: none;
}

#middleButtonRight{
	height: 20%;
	width: 49.9%;
	background-color: #22b573;
	color: #FFFFFF;
	display: inline-block;
	margin: 0;
	padding:0;
	text-align:center;
	float:right;
	-moz-user-select: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:link {
	color:#FFFFFF;
	text-decoration: none;
}

#middleButtonLeft:active {
	background-color: #1b915c;
}
#middleButtonRight:active {
	background-color: #1b915c;
}

// CRUD Menu

#crudMenu {
	width: 100%;
	background-color: #1f262c;
	height: 20%;
	display: inline-block;
	-moz-user-select: none;
}

#crudMenu img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#crudMenu h3 {
	display:inline-block;
}

#crudMenu i {
	color: #af543e;
	margin-left: 1%;
}

.redHeaders {
	color: #af543e;
	display: inline-block;
	margin-left: 1%;
	margin:0;
	padding:0;
}

#bAdd {
	background-color: #1f262c;
	width: 33%;
	height: 20%;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	-moz-user-select: none;
}

#bAdd:active {
	background-color: #af543e;
}

#bUpdate {
	background-color: #1f262c;
	width: 33%;
	height: 20%;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	-moz-user-select: none;
}

#bUpdate:active {
	background-color: #af543e;
}

#bRemove {
	background-color: #1f262c;
	width: 33%;
	height: 20%;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	-moz-user-select: none;
}

#bRemove:active {
	background-color: #af543e;
}
// Input Forms and Submit

#changeWrapper {
	width: 50%;
	height: 100%;
	/*display: inline-block;*/
}

#changeWrapper form {
	text-align: center;
	margin-top: 5%;
}

#changeWrapper input {
	width: 40%;
	text-align: center;
	background-color: #fffbd6;
	border-bottom: solid 1px #1f262c;
	border-right: none;
	border-left: none;
	border-top:none;
	color: #1f262c;
	font-size: 200%;
	padding-bottom: 0.5%;
	margin-bottom: 2%;
	border-spacing: 0;
}

#submitField {
	background-color: #af543e ;
	width:15%;
	height: 20%;	
	margin-top: 10%;
	margin-left: 42%;
	padding: 1%;
	border:none;
}

#submitField h3 {
	color: #FFFFFF;
	padding: 10%;
	text-align: center;
	-moz-user-select: none;
}

#submitField :active {
	background-color: #af543e;
}

// Table
#col1 {
	width: 50%;
}

#col2 {
	width: 50%;
}

#tbList {
	width: 100%;
	height: 47em;
	overflow-y:scroll;
	display:block;
}

#tableItem {
	color: #1f262c;
	font-size: 150%;
	text-indent: 4%;
}

#tablePic {
	width:20%;
}

#tablePic img {
	width: 30%;
	margin-left: 30%;
	max-width: 100%;
	max-height: 100%;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}
#tbList tbody tr:hover{
	background-color: #af543e;
	cursor: pointer;
} 