body{
	background-color:#FFEBD6;
}
.nav li{
	display:inline;
	padding-right:30px;
	padding-bottom:10px;
	padding-left:30px;
   line-height: 10em;
   border-right:2px solid white;
 
}

.container{
	width: 100%;
	display:inline-block;
	
}
.tab-links:after{
	 display:block;
        clear:both;
        content:'';
	
}
 .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
           /* padding:9px 15px;*/
            display:inline-block;
           
            font-size:16px;
            font-weight:600;
            
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:orange;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }


.inputs{
	margin:auto;
	display:inline;
	position:absolute;
    left: 45%;
  
}
 
.img {

text-align: center;
margin: 0 auto
vertical-align: middle;
top:500; 

}
img{
	height:280px;
	width:140px;
}

li a:hover{
	color:#566D7E;
	
}
#ok{
	display:block;
	
	margin-left:49%;
	margin-right:20%;

		
}
.amount{
	margin-top:5%;
	margin-left:46%;
	margin-right:20%;

	
}

#thumbnail{
	padding:30px;
	text-align: center;
	margin:auto;
}

.radiob{
	padding:100px;
	border:3px solid black;
	
}

.active{
	text-decoration:underline;
	color:red;
}

.inactive{
	text-decoration: none;
	color:#566D7E;
}
.dropdown{
	margin-left:0px;
}

.col-md-4{
	padding:130px;
}

#upbar ul li {
	color:white;
	
	

}
#upbar{
	height:90px;
	width:1400px;
	background-color:#1f262c;
	alignment-adjust: 'central';
	margin-left:200px;
	padding-right:30px;
	
}
#fa{
	color:white;
}
#logo{
	height:80px;
	width:80px;
}
ul
{
    list-style-type: none;
}
#menu{
	background-color:#af543e;
	text:white;
	
}
input[type=radio]{
	display:none;
	margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #ffffff;
    border-color: #ddd;
}	
input[type=radio]:checked + label { 
   background-image: none;
    background-color:#af543e;
 
}

#bottomp .col-md-4{
	padding-top:0px;
	margin-left:20em;
	margin-right:10px;
}
#change{
	margin-bottom:0px;
	padding:10px;
}
.nav{
	margin-right:10em;
	margin-left:10em;
	padding-right:-10em;
}
.main{
	margin-bottom:0em;
	
	
}
button[type=submit]{
	background-color:#af543e;
	 width: 300px;
 	 height: 60px;
 	 margin:0px;
 	 padding-top:2em;
 	 padding-bottom:2em;
}

#totaldiv{
	background-color:#1f262c;
	 width: 300px;
 	 height: 60px;
 	
 	 padding-top:2em;
 	 padding-bottom:2em;
 	
	
}
input[type=text]{
	border:0px solid white;
	background-color:#FFEBD6;
	border-bottom:1px solid #1f262c;
}
#total{
	background-color:#1f262c;
}
#ptotal{
	display: inline;
}
.topMenu {
	background-color: #999999;
}

#topMenuBorder {
	width: 100%;
	height: 20%;	
	margin: 0;
	padding: 0;
	background-color: #1f262c;
	display: inline-block;
	vertical-align:middle;
}

#caracterIcon {
	width: 5%;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 2%;
	vertical-align:middle;
}

#caracterIcon img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

#userName {
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

#scoreWrapper{
	float:right;
	margin-right: 2%;
}

#score {
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#scoreIcon {
	width:auto;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#scoreIcon img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #FFFFFF;
}

#scoreIcon i {
	color: #FFFFFF;
}

input[id=score_val]{
	background-color:#1f262c;
	color:white;
	width:2em;
	
}
.menut {
	background-color:#af543e;
	margin:2px solid black;
	/*height:40em;*/
	/*width:100%;*/
	display:inline;
	padding-left:8em;
	padding-right:8em;
	padding-top:2em;
	padding-bottom:2em;
	
	

	
}
#bar{
	margin:3px solid black;
	width:100%;	
}

.activetab{
	background-color:orange;
	
}
#bar a{
	color:white;
}

